.home {
	max-width: 100vmax;
	height: 100%;
	top: 15vh;
	position: relative;

	&__list{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&--item {
			font-size: 18px;
			opacity: .5;
			text-align: center;
			margin: auto 3% auto 3%;
			width: 80px;
			cursor: pointer;
		}
		&--item:hover {
			opacity: .9;
			font-weight: 700;
		}
	}
	.container {
		border-bottom: 1px solid var(--blackLighter);
		position: relative;
		z-index: 0;
	}

	&__slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
	  position: relative;
	 }
	&__slider li {
    position: absolute;
	 }
	&__slider--img {
    margin: auto;
    height: 400px;
    width: 400px;
    vertical-align: top;
	}
}