.home {
	max-width: 100vmax;
	height: 100%;
	top: 95px;
	position: relative;

	&__list{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&--item {
			font-size: 18px;
			opacity: .7;
			text-align: center;
			margin: auto 3% auto 3%;
			width: 80px;
			cursor: pointer;
		}
		&--item:hover {
			opacity: .9;
			font-weight: 700;
		}
	}
	.container {
		border-bottom: .13rem solid #01060e;
		position: relative;
		z-index: 0;
	}

	&__banner {
		margin: 2px auto;
		width: 100%;
		max-height: 370px;
		background-color: white;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	@media screen and (max-height: 100vh) {
		&__banner {
			height: auto;
		}
	}

	&__promo {
		position: relative;
		margin-top: 5%;
		margin-left: 40%;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		& p {
			font-size: 30px;
			font-weight: 800;
			color: #B22222;
			opacity: .95;
			margin-bottom: 8px;
		}


		& button {
			position: relative;
			font-size: 25px;
			color: #01060e;
			border: none;
			cursor: pointer;
		}
		& button:hover {
			color: white;
			background-color: #01060e;
			border-radius: 5%;
			font-size: 30px;
		}
	}
}