.home {
	max-width: 100vmax;
	height: 100%;
	top: 95px;
	position: relative;



	&__banner {
		margin: 2px auto;
		padding-top: 45px;
		width: 100%;
		max-height: 370px;
		background-color: white;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	@media screen and (max-height: 100vh) {
		&__banner {
			height: auto;
		}
	}

	&__promo {
		position: relative;
		margin: 5% 0 20% 40%;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		& p {
			font-size: 30px;
			font-weight: 800;
			color: #B22222;
			opacity: .95;
			margin-bottom: 8px;
		}

		& button {
			position: relative;
			font-size: 25px;
			color: #01060e;
			border: none;
			cursor: pointer;
		}
		& button:hover {
			color: white;
			background-color: #01060e;
			border-radius: 5%;
			font-size: 30px;
		}
	}
}